.background {
  min-height: 100vh;
  background: linear-gradient(to bottom, #FBCBB6, #FEEDE5);
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 2rem;
  overflow-x: auto;
  margin-top: 6rem;
  margin-left: 16rem;
  margin-bottom: 1rem;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.stat-card {
  text-align: center;
  background: linear-gradient(to bottom, #AE6499, #ED7B9A);
  border-radius: 0.5rem;
  padding: 1.5rem;
  color: white;
}

.stat-card .number {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.stat-card .label {
  color: #fbcfe8;
}

/* Tabs */
.tabs {
  background: white;
  border-radius: 0.5rem;
  box-shadow:  0 8px 20px rgba(128, 13, 86, 0.159);
}

.tab-headers {
  display: flex;
  border-bottom: 1px solid #e5e7eb;
}

.tab-headers button {
  flex: 1;
  padding: 1rem 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #6b7280;
  border-bottom: 2px solid transparent;
  transition: 
    color 0.3s ease,
    border-color 0.3s ease,
    transform 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.tab-headers button:hover {
  background-color: #eceeee;
  color: #374151;
}

.tab-headers button.active {
  color: #3B1B47;
  font-weight: bolder;
  border-bottom: 2px solid #3B1B47;
}

/* Table */
.table-container {
  padding: 1.5rem;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  padding: 0.75rem 1rem;
  font-weight: 500;
  color: #9ca3af;
  font-size: 0.875rem;
  border-bottom: 1px solid #f3f4f6;
}

tbody td {
  padding: 0.75rem 1rem;
  color: #1f2937;
  border-bottom: 1px solid #f9fafb;
}

tbody tr:hover {
  background: #f9fafb;
}

.status {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;
}

.status.in-stock {
  background: #dcfce7;
  color: #166534;
}

.status.out-stock {
  background: #fee2e2;
  color: #991b1b;
}

/* View All */
.view-all {
  text-align: center;
  margin-top: 1.5rem;
}

.view-all button {
  color: #AE6499;
  font-weight: bold;
  transition: color 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.view-all button:hover {
  color: #5B1F45;
}
